
body{
    margin: 0;
    font-family: 'Cinzel', serif;
    font-family: 'Poppins', sans-serif;
}
header{
    padding: 12px 7%;
    border-bottom: 1px solid #ccc;
}
header h3{
    margin: 0;
    font-family: 'Cinzel', serif;
    color: #999999;
}
section:nth-of-type(1){
    text-align:center ;
    background:url(https://images.unsplash.com/photo-1486312699619-be057cfc0342?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80) center/cover no-repeat;
}
section:nth-of-type(1) h1{
    color: #ffffff;
    font-family: 'Cinzel', serif;
    font-size: 50px;
    margin: 0;
    padding:40vh 0;
}
h2{
    text-align: center;
    color: #333;
    font-family: 'Cinzel', serif;
}
section:nth-of-type(2){
    padding: 60px 10%;
}
section:nth-of-type(2) p{
    color: #333;
    text-align: center;
    padding-top: 40px;
}
article{
    margin-bottom: 80px;
}
article img{
    width: 25%;
    margin-right: 5%;
}
article img:first-of-type{
    margin-left: 7.5%;
}
section:nth-of-type(3){
    color: #333;
    margin-bottom: 100px;
}
section:nth-of-type(3) h2{
    margin-bottom: 50px;
}
section:nth-of-type(3) ul{
    list-style: none;
    margin-left: 7.5%;
}
section:nth-of-type(3) ul li{
    padding-bottom: 15px;
}
li:nth-child(1)::after,li:nth-child(2)::after,li:nth-child(3)::after{
    content:"SOLD OUT";
    padding-left: 10px; 
    color:red;
}
li:nth-child(4)::after{
    content:"ONLY 4 SPOT AVAILABLE";
    padding-left: 10px; 
    color:red;
}
li:nth-child(5)::after,li:nth-child(6)::after{
    content:"AVAILABLE";
    padding-left: 10px; 
    color:green;
}

footer{
    padding: 12px 7%;
    border-top: 1px solid #ccc;
}

footer h3{
  text-align:center
}
footer span{
  padding:0 20px;
}
footer a{
  text-decoration:none;
}
footer a:hover{
  text-decoration:underline;
}
footer span:nth-child(1) a{
  color:#3b5998
}
footer span:nth-child(2) a{
  color:#1da1f2
}
footer span:nth-child(3) a{
  color:#c32aa3
}



/* border: #ccc.
color logo: #999.
color home: #fff.
color: #333 */
